.td-toc {

    a.active {
      color: #0056b3; // Change this to match your theme's color scheme
      font-weight: bold;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
    }

    ul {
      list-style-type: disc; /* Use disc bullet points */
      // padding-left: 20px; /* Indent for bullets */
    }
    
    ul ul {
      list-style-type: circle; /* Nested list style */
      padding-left: 20px; /* Indent for nested bullets */
    }

    li:last-child {
      border-bottom: none;
    }

    ul li ul li {
      padding: 5px 0;
      border-bottom: 1px solid #ddd;
    }
    
    li ul li:last-child {
      border-bottom: none;
    }

  }

/* Block-level equations */
.katex-display {
  overflow-x: auto;
  overflow-y: hidden; /* Prevent vertical scrolling */
  white-space: nowrap;
  display: block;
}

.katex-display > .katex {
  display: inline-block;
}

/* Inline equations */
.katex {
  white-space: nowrap;
}

.post-content {
  overflow-x: auto;
}

.post-content .katex-display {
  overflow-x: auto;
  overflow-y: hidden; /* Prevent vertical scrolling */
}

/* General navbar styles */
.td-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.td-navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.td-navbar-nav-scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Mobile-specific adjustments */
@media (max-width: 991.98px) {
  .td-navbar-nav-scroll {
    flex-direction: column;
    align-items: flex-start;
  }

  .td-light-dark-menu .dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
  }
}



.td-navbar {
    position: static !important; // Override the sticky positioning
}

// .navbar {
//   position: static !important; /* or relative */
// }
  
// body {
//   padding-top: 4rem; // Adjust this value to match your navbar height
// }

/* Sidebar link styling */
// #td-section-nav {
//   li {
//     padding: 10px 0;
//     border-bottom: 1px solid #ddd; /* Line between links */
//   }

//   li:last-child {
//     border-bottom: none; /* Remove line after the last link */
//   }

//   ul ul {
//     list-style-type: none; /* Remove bullet points for nested lists */
//     padding-left: 20px; /* Indent for nested links */
//   }

//   ul ul li {
//     padding: 5px 0;
//     border-bottom: 1px solid #ddd; /* Line between nested links */
//   }

//   ul ul li:last-child {
//     border-bottom: none; /* Remove line after the last nested link */
//   }
// }

// dark mode

@import 'td/code-dark'
