{{ if .Summary }}
  <br/>
  <h3> Abstract</h3>
  <hr>
  <p>{{ .Summary }}</p>
  <!-- {{ partial "featured-image.html" (dict "p" . "w" 250 "h" 125 "class" "float-start me-3 pt-1 d-none d-md-block") -}} -->
  <br/>
{{ end }}
</small>
<!-- <a href="/blog" class="btn btn-primary">back</a> -->
<!-- <div id="sidebar-area">
  <div id="td-section-nav">


{{/* The "active" toggle here may delay rendering, so we only cache this side bar menu for bigger sites. */ -}}
{{ $sidebarCacheLimit := .Site.Params.ui.sidebar_cache_limit | default 2000 -}}
{{ $shouldCache := ge (len .Site.Pages) $sidebarCacheLimit -}}
{{ $sidebarCacheTypeRoot := .Site.Params.ui.sidebar_cache_type_root | default false -}}
{{ if $shouldCache -}}
  {{ $mid := printf "m-%s" (.RelPermalink | anchorize) }}
  <script>
    $(function() {
      $("#td-section-nav a").removeClass("active");
      $("#td-section-nav #{{ $mid }}").addClass("active"); 
      $("#td-section-nav #{{ $mid }}-li span").addClass("td-sidebar-nav-active-item"); 
      $("#td-section-nav #{{ $mid }}").parents("li").addClass("active-path"); 
      $("#td-section-nav li.active-path").addClass("show"); 
      $("#td-section-nav li.active-path").children("input").prop('checked', true);
      $("#td-section-nav #{{ $mid }}-li").siblings("li").addClass("show");  
      $("#td-section-nav #{{ $mid }}-li").children("ul").children("li").addClass("show");  
      $("#td-sidebar-menu").toggleClass("d-none"); 
    });
  </script>
  {{ partialCached "sidebar-tree.html" . .FirstSection.RelPermalink }}
{{ else -}}
  {{ partial "sidebar-tree.html" . }}
{{- end }} -->

<!-- Add this div as a wrapper around your sidebar -->

    <!-- Your existing sidebar content goes here -->
  <!-- </div>
</div> -->

<!-- <style>
/* Initially collapsed sidebar */
td-section-nav {
  width: 0;
  height: 100%;
  /overflow: hidden;*/
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

/* Show the sidebar when hovering over the sidebar area /
#sidebar-area:hover #td-section-nav {
  width: 100%; / Full width when expanded */
  height: 100%
}

/* Ensure content is visible when sidebar is expanded */
#td-section-nav > * {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#sidebar-area:hover #td-section-nav > * {
  opacity: 1;
}
</style> -->